---
import Layout from "../layouts/Layout.astro";

import NavBar from "@/components/NavBar.jsx";
import NotificationBar from "@/components/NotificationBar.astro";
import Hero from "@/components/Hero.astro";

import ProductCaraousel from "@/components/ProductCaraousel.jsx";
import Categories from "@/components/Categories.astro";
import LimitedEditionBanner from "@/components/LimitedEditionBanner.astro";
import ShopCollection from "@/components/ShopCollection.astro";
import LatestArticles from "@/components/LatestArticles.astro";
import Newsletter from "@/components/Newsletter.astro";
import Newsfeed from "@/components/Newsfeed.astro";

import Footer from "@/components/Footer.astro";
---

<Layout title="3legant">

  <header class="flex flex-col min-h-[1125px] h-screen max-h-screen w-full">
		<NotificationBar />
		<NavBar client:load />
		<Hero/>
  </header>

  <main class="flex flex-col min-h-[800px] w-full">
		<ProductCaraousel client:load/>
		<Categories/>
		<LimitedEditionBanner/>
		<ShopCollection/>
		<LatestArticles/>
		<Newsletter/>
		<Newsfeed/>
	</main>

  <footer>
    <Footer />
  </footer>

</Layout>

<style>


	
</style>
