/* Responsive design */

/* Small screen size */
@media (max-width: 768px) {
  /* Hamburger menu open animation */

  /* Animation for the background */
  /* Close bg animation*/

  @keyframes bgopacityc {
    from {
      display: flex;
    }

    to {
      display: none;
    }
  }

  .background.menuisclosed {
    animation: bgopacityc linear 500ms;
  }

  /* Animation for the menu - Slides in  */
  /* Open menu animation */

  @keyframes hamburgerslideopen {
    from {
      left: -1000px;
    }

    to {
      left: 0px;
    }
  }

  .hamburger-menu-container.menuisopen {
    animation: hamburgerslideopen ease-in-out 500ms;
    left: 0px;
  }

  /* Close menu animation */

  .hamburger-menu-container.menuisclosed {
    left: -1000px;
    transition: ease-in-out 500ms;
  }

}

/* Medium screen size */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Hamburger menu open animation */

  /* Animation for the background */
  /* Close bg animation*/

  @keyframes bgopacityc {
    from {
      display: flex;
    }

    to {
      display: none;
    }
  }

  .background.menuisclosed {
    animation: bgopacityc linear 500ms;
  }

  /* Animation for the menu - Slides in  */
  /* Open menu animation */

  @keyframes hamburgerslideopen {
    from {
      left: -1000px;
    }

    to {
      left: 0px;
    }
  }

  .hamburger-menu-container.menuisopen {
    animation: hamburgerslideopen ease-in-out 500ms;
    left: 0px;
  }

  /* Close menu animation */

  .hamburger-menu-container.menuisclosed {
    left: -1000px;
    transition: ease-in-out 500ms;
  }


}
