
  /* Avoid the content can be selected*/
  .scroller,
  .scroller-item {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE10+/Edge */
  }

  /* Change the mouse cursor when the user is dragging */

  .scroller {
    cursor: grab;
  }

  .scroller.dragging {
    cursor: grabbing;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scroller::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scroller {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Pagination styles */

  .dot-active {
    border: black 1px solid;
    border-radius: 100%;
    padding: 3px;
  }

  /* Responsive design */

  /* Small screen size */
  @media (max-width:768px) {

    .pagination {
      padding-right: 3rem;
    }

  }

  /* Medium screen size */
  @media (min-width: 768px) and (max-width: 1024px) {




  } 