/* .carousel-container {

border: 1px red solid;

}

.scroller {
  border: 1px blue solid;
} */

/* .section-header{

  border: 1px aqua solid;

} */

/* Avoid the content can be selected*/
.scroller,
.scroller-item {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE10+/Edge */
}

/* Change the mouse cursor when the user is dragging */

.scroller {
  cursor: grab;
}

.scroller.dragging {
  cursor: grabbing;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroller::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroller {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}