---
import { getBy } from "@/services/3legant.astro"

const categories = getBy("categories");

---

<section class="categories flex flex-col justify-center items-center w-full h-full min-h-[800px] px-28">
  <header class="categories-header text-accent-secondary py-10">
    <h2 class="text-3xl lg:text-4xl font-medium">Shop by Categories</h2>
  </header>

  <div class="categories-container grid grid-cols-2 grid-rows-3 lg:grid-cols-3 lg:grid-rows-2  gap-x-5 gap-y-10">
    {
      categories.map((category) => (
        <a href={`/categories/${category.name}`}>
        <article class="flex flex-col justify-center items-center">
          <div class="image-container bg-neutral-03">
            <img src={category.image} alt={`${category.name} + image`}>
          </div>
          <h3 class="text-accent-secondary p-5">{category.name}</h3>
        </article>
        </a>
      ))
    }
  </div>
</section>
