---
import { getBy } from "@/services/3legant.astro"

const categories = getBy("categories");

---

<section class="categories flex flex-col justify-center items-center w-full h-full py-20 sm:px-8 md:px-32 lg:px-8">
  <header class="categories-header text-accent-secondary pb-12 max-w-[1280px]">
    <h2 class="text-3xl lg:text-4xl font-[600]">Shop by Categories</h2>
  </header>

  <div class="categories-container grid grid-cols-2 grid-rows-3 lg:grid-cols-3 lg:grid-rows-2 gap-x-6 gap-y-12 max-w-[1280px]">
    {
      categories.map((category) => (
        <a href={`/categories/${category.name}`}>
        <article class="flex flex-col justify-center items-center">
          <div class="image-container bg-neutral-03">
            <img src={category.image} alt={`${category.name} + image`}>
          </div>
          <h3 class="font-medium text-accent-secondary p-5 md:text-md lg:text-xl">{category.name}</h3>
        </article>
        </a>
      ))
    }
  </div>
</section>
