---


---


<section class="limited-edition flex w-full py-7 sm:flex-col-reverse sm:h-[800px] md:flex-row md:h-[500px]">

  <div class="left-column w-full sm:h-1/2 md:w-1/2 md:h-full lg:w-1/2">
  </div>


  <div class="right-column flex flex-col justify-center  bg-[#141718] px-7 py-10 gap-5  sm:items-center sm:w-full sm:h-1/2 md:w-1/2 lg:w-1/2 ">

    <div class="section-title flex items-start">
      <h2 class="text-sm font-medium text-accent-primary uppercase">limited edition</h2>
    </div>

    <div class="info flex flex-col">
      <span class="text-3xl text-neutral-01">Hurry up! 30% OFF</span>
      <span class="text-sm text-neutral-03  opacity-90">Find clubs that are right for your game</span>
    </div>

    <div class="time-container flex flex-col sm:items-center w-full">
      <div class="">
        <span class="text-neutral-03 opacity-70">Offer expires in:</span>
      </div>
      <div class="time flex flex-row py-6 space-x-2">
        <span id="days" class="flex justify-center text-accent-secondary min-w-[70px] text-3xl font-medium bg-neutral-01 p-3">02</span>
        <span id="hours" class="flex justify-center text-accent-secondary min-w-[70px] text-3xl font-medium bg-neutral-01 p-3">12</span>
        <span id="minutes" class="flex justify-center text-accent-secondary min-w-[70px] text-3xl font-medium bg-neutral-01 p-3">45</span>
        <span id="seconds" class="flex justify-center text-accent-secondary min-w-[70px] text-3xl font-medium bg-neutral-01 p-3">05</span>
      </div>
    </div>
    <div class="link w-full h-20 py-5 flex sm:justify-center sm:items-center ">
      <a
        href=""
        class="flex justify-center items-center bg-accent-primary w-52 h-12 rounded-md text-center font-medium hover:bg-neutral-01 transition-colors"
        >Shop now
      </a>
    </div>

  </div>

</section>


<style>


  .left-column {
    background: no-repeat url('../assets/images/limitededitionbanner.png');
    background-size: cover;
    background-position: center center;
  }


</style>

<script>

window.onload = function() {

  var days = 0o2;
  var hours = 12;
  var minutes = 45;
  var sec = 50;

  setInterval(function() {
    
    document.getElementById("days").innerHTML = days.toString().padStart(2,'0');
    document.getElementById("hours").innerHTML = hours.toString().padStart(2,'0');
    document.getElementById("minutes").innerHTML = minutes.toString().padStart(2,'0');
    document.getElementById("seconds").innerHTML = sec.toString().padStart(2,'0');

    sec--;

    if (sec == 0o0) {
      
      minutes--;
      sec = 60;

      if (minutes == 0o0) {
        hours--;
        minutes = 60;

        if (hours == 0o0) {
          days--;
          hours = 24;

          if (days == 0o0) {
            days = 0o2;
            hours = 12;
            minutes = 45;
            sec = 50
          }

        }

      }

    }
  }, 1000);
}


</script>
