---

import RightArrow from "@/assets/icons/Arrow-right.astro";

---

<section
  class="shopcollection-container flex flex-col justify-start items-center w-full sm:px-8 sm:pb-12 md:pb-12 md:px-32 lg:pb-12 lg:px-8"
>
  <div
    class="section-header flex w-full items-center py-12 sm:justify-center md:justify-center lg:justify-start lg:max-w-[1280px]"
  >
    <h2 class="text-4xl lg:text-4xl font-[600]">Shop Collection</h2>
  </div>

  <div
    class="collections grid w-full gap-6 max-w-[1280px] md:grid-cols-1 lg:grid-cols-2"
  >
    <div class="left-column grid-row-[1/3] sm:h-[650px] md:h-[650px]">
      <div id="juniors-set" class="tall-card flex justify-start items-end p-12">
        <div
          class="card-info"
        >
          <h3 class="collection-title">Juniors Set</h3>
          <div class="link">
            <a
              href=""
              class=""
            >
              <span>Collections</span>
              <RightArrow
                class="rightarrowicon stroke-accent-secondary size-5 transition-colors"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="right-column grid grid-rows-2 gap-6">
      <div id="men-set" class="card">
        <div
          class="card-info"
        >
          <h3 class="collection-title">Men's Set</h3>
          <div class="link ">
            <a
              href=""
              class=""
            >
              <span>Collections</span>
              <RightArrow
                class="rightarrowicon stroke-accent-secondary size-5 transition-colors"
              />
            </a>
          </div>
        </div>
      </div>

      <div id="women-set" class="card">
        <div
          class="card-info"
        >
          <h3 class="collection-title">Women's Set</h3>
          <div class="link">
            <a
              href=""
              class=""
            >
              <span>Collections</span>
              <RightArrow
                class="rightarrowicon stroke-accent-secondary size-5 transition-colors"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>

  #juniors-set {
  background: no-repeat url(/src/assets/images/collections/juniors-set2.png);
  background-position: center;
  background-size: cover;
  height:100%;
  }

  #men-set {
  background: no-repeat url(/src/assets/images/collections/men-set2.png);
  background-position: center;
  background-size: cover;
  height: 368px;
  }

  #women-set {
  background: no-repeat url(/src/assets/images/collections/women-set2.png);
  background-position: center;
  background-size: cover;
  height: 368px;  
  }

  .card {
    @apply flex justify-start items-end p-12;
  }

  .card-info {
    @apply flex flex-col justify-center items-start gap-1;
  }

  .card-info .collection-title {
    @apply text-3xl font-medium;
  }

  .card-info .link a {
    @apply flex flex-row justify-center items-center font-medium border-[black] border-solid border-b-2 gap-1 transition-colors;
  }

  .card-info .link:hover a {
    @apply text-accent-primary border-accent-primary border-solid border-b-2;

    .rightarrowicon {
      stroke: var(--accent-primary);
    }
  }

</style>
