---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
	
	:root {
		--bg:#ffffff;
		--accent-primary:#38CB89;
		--accent-secondary:#000000;
		--neutral-01: #FEFEFE;
		--neutral-02: #F3f5f7;
		--neutral-03: #E8ECEF;
		--neutral-04: #6C7275;
		--neutral-05: #343839;
		--neutral-06: #232727;
    --neutral-07: #141718;
		--text-primary:#121212;
	}
	
	html {
		font-family: "Poppins",system-ui, sans-serif;
		background: var(--bg);
	}

</style>
